body{
    font-family: 'Anton', sans-serif;
    background-color: aquamarine;
}
.anas img{
    margin-top: 100px;
    margin-left: 800px;

}
.boy{
    background-color: azure;
    color: darkmagenta;
    text-transform: capitalize;
}
